.posts {
    justify-items: center;
    display: grid;
    align-items: center;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 20px;
    padding: 2em 12em;
    color: #fff;
    border: transparent 2px #f21;
    border-radius: 15px;
    background-color: #080808;
    box-shadow: 0 4px 22px 10px rgba(241, 243, 243, 0.253);
    margin-bottom: 2.75em;
}

.posts img{
    align-items: center;
    justify-content: center;
    max-width: 450px;
    min-height: 350px;
    margin: 2px 2px;    
}

.tags{
    color: rgb(14, 235, 187);
    display: flex;    
}

.tags a {
    color: rgb(14, 235, 187);
    display: flex;
    text-decoration: none;
}

.tags span{
    margin-left: 14px;
}

.createdUser {
      margin: 20px 3px;
      font-size: 2em;
      font-weight: 100;
      text-transform: capitalize;
}

.body {
    font-weight: 350;
    font-size: 27px;
    text-align: center;
    align-items: center;
}

.createdUser a {
    text-decoration: none;
    color: aliceblue;
}
