.footer {
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15em;
}

/* #footer {
  background-color: #121212;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #363636;
} */

.footer ul li a {
  text-decoration: none;
  color: aliceblue;
  list-style: none;
}

.links .links_ul {
  list-style: none;  
}

.links {
  font-size: 19px;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  font-family: "Playwrite GB S", cursive;
  text-decoration: none;
}

.footer {
  color: aliceblue;  
}

.contats {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Playwriting GB S", cursive;
}


