.logo {
  font-family: "Playwrite GB S", cursive;  
}

.title{
  margin: 1em 1em;
  font-size: 20px;
}

.links {
  margin-top: 20px;
  display: flex;
}

.links a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  color: aliceblue;
  margin: 0 2em 2em 0;
  margin-left: 2em;
  padding: .3em 1em;
  border: .5px solid rgb(12, 3, 58);
  border-radius: 3px;
  transition: .75s;
}

.links a:hover {
  color: rgb(0, 0, 0);
  border: .5px solid rgb(12, 3, 58);
  
  background-color: rgb(116, 177, 2);
}
  