.container {
  /* vh é utilizado para comportar o maior número de dispositivos possível */
  min-height: 70vh;
  /* margin-bottom: 1em; */
  color: rgb(21, 21, 22);
  background-color: rgb(49, 11, 56);
  color: aliceblue;
}

