nav {
    display: flex;
    justify-content: center;
}

nav a {
    /* encima e em abaixo e pro lado e pro outro */
    margin: 0px 20px;
    padding: 5px;
    text-decoration: none;
    color: #3c868b;
}

.active {
    background-color: #595e4a;
    border-radius: 9px;
    color: rgb(192, 212, 159)
}